body {
    background:white;
    font-family: 'Abel', sans-serif;
    margin-top: 130px;
   
}

h1{
    font-size: 2em;
    text-align: center;
}

/*Hier staat alle code voor Form*/

form{
        
    background: white;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 1em;
    border: solid #ededed;
    border-radius: 10px;
    
    box-shadow: 11px 12px 23px -4px rgba(122,122,122,0.52);;
    
}

form * {
    display: block;
    box-sizing: border-box;
   
    /*het geeft de padding en border mee aan de width en height van de box*/
    width: 100%;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

label {
    font-size: 1.3em;
}

input {
    padding: 2em;
    margin: 1em 0;

    border-radius: 5px;
    border: 1.2px solid #bfbfbf;
    
    outline-color: #fcd303;
}

::placeholder {
    font-size: 1.2em;
}


button {
    background-color: #FFF;
    padding: 1em;
    margin: 1em 0 0;

    font-size: 1.2em;
    font-family: inherit;

    border-radius: 5px;
    border: 3px solid #b5ceeb;

    outline-color: #b5ceeb;
}

button:hover {
   background: #b5ceeb;
    color: #FFF;
    border-color: #b5ceeb;
    transition: all 0.6s ease 0.1s;
}


a {
    color: black;
    font-size: 1.2em;
    text-align: center;
    display: grid;
    justify-content: center;
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 30px;

}

a:visited {
    text-decoration: none;
    
}