* { box-sizing: border-box }

body {
  font-family: 'Abel', sans-serif;
  background: white;
  color: black;
  /* max-width: 36em; */
  margin: 0 auto
}

a {
  color: black;
}

h1{
  font-size: 2em;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
p{
  font-size: 1.5em;
  font-family: sans-serif;
  text-align: center;
}

label, input, textarea, button { margin: 1em 0 }

label{
  font-family: 'Oswald', sans-serif;
  font-size: 1.3em;

}

form{
        
  background: white;
  max-width: 500px;
  margin: 0 auto;
  padding: 1em;
  border: solid #ededed;
  border-radius: 10px;
  
  box-shadow: 11px 12px 23px -4px rgba(122,122,122,0.52);;
  
}

form {
  display: block;
  box-sizing: border-box;
 
  /*het geeft de padding en border mee aan de width en height van de box*/
  /* width: 100%; */
}

input, textarea, button {
  font-size: 1em;
  padding: 0.5em;
  border-width: 0;
  border-radius: 0.25em
}

input, textarea { width: 100% }

input {
  /* padding: 2em;
  margin: 1em 0; */

  border-radius: 5px;
  border: 1.2px solid #bfbfbf;
  
  outline-color: #fcd303;
}



button {
  background-color: #FFF;
  padding: 1em;
  margin: 1em 0 0;
  font-size: 1.2em;
  font-family: 'Oswald', sans-serif;
  border-radius: 5px;
  border: 3px solid #b5ceeb;
  outline-color: #b5ceeb;
}

button:hover {
 background: #b5ceeb;
  color: #FFF;
  border-color: #b5ceeb;
  transition: all 0.6s ease 0.1s;
}
a {
  color: black;
  font-size: 1.2em;
  text-align: center;
  display: grid;
  justify-content: center;
  text-align: justify;
  margin-top: 30px;
  margin-bottom: 30px;

}

a:visited {
  text-decoration: none;
  
}

.profiel-info img{
  width: 60%;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


/*///////////////////////////////////////////////////*/
/* Hier begint de code voor het maken van de keuzes */
/*///////////////////////////////////////////////////*/



/*/ FORMFIELD /*/

.food-form {
  max-width: 50%;
}

.food-choice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.food-choice {
  width: 100%;
}


[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}


[type=radio] + img { 
  width: 100%;
  cursor: pointer;
  filter: brightness(60%)
}

[type=radio]:checked + img {
  outline: 3px solid #FFBAAC;
  box-sizing: content-box;
  outline-offset: -4px;
  filter: brightness(100%)
}

.button {
  text-decoration: none;
  background-color: #FFF;
  padding: 1em;
  margin: 1em 0 0;
  font-size: 1.2em;
  font-family: 'Oswald', sans-serif;
  border-radius: 5px;
  border: 3px solid #FFBAAC;
  outline-color: #FFBAAC;
}

.button:hover {
  background: #FFBAAC;
   color: #FFF;
   border-color: #FFBAAC;
   transition: all 0.6s ease 0.1s;
 }

button { 
  width: 100%;
  margin-top: 2em;

}

[type=radio] + img { 
  cursor: pointer;
}

[type=radio]:checked + img {
  border: 3px solid #FFBAAC;
}

button { 
  width: 100%;
}