<link rel='stylesheet' href='/header.css'>
<link href='https://fonts.googleapis.com/css?family=Oswald&display=swap' rel='stylesheet'>
<header>
    <nav>
        <ul>
            <li><a>Test</a></li>
            <li><a href="http://localhost:8000/matches">Matches</a></li>
            <li><a href="http://localhost:8000/choice">Interesses</a></li>
            <li><a href="http://localhost:8000/matches">Profiel</a></li>
        </ul>
    </nav>
</header>

