<% include head.ejs %>
<section class="profiel-info">
    <% if(data.foto === 'profiel1.jpg'){ %>
        <img src="profiel1.jpg" alt="">
      <% } else if(data.foto === 'profiel2.jpg'){ %>  
        <img src="profiel2.jpg" alt="">
      <%} else{ %>
         <img src="profiel3.jpg" alt="">
     <% } %>

<h1><%= data.name %></h1>

<p><%= data.age %></p>

<p><%= data.over %></p>


</section>
<% include tail.ejs %>